.top-right{
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: black;
  color: white;
  font-family: Arial;
  font-size: 16px;
  border-radius: 10px;
  width: 15px;
  padding-left: 4px;
}
.box{
  position:fixed;
  width: 320px;
  height: 180px;
  background-color: gray;
  bottom: 8px;
  right: 8px;
}